@import '../../../variables.scss';

.image-cropper {
    .instruction {
        margin: 0 0 4px auto;
        width: max-content;
        font-size: 8px;
    }

    .image-wrapper {
        background-color: rgb(177, 177, 177, 0.6);
    }

    .image-blank {
        height: calc(300px - 2px * 2);
        border: dashed 2px $grey-200;
        padding: 0 35px;
        cursor: pointer;
        background-color: white;
        display: flex;
        align-items: center;
        p {
            margin: auto;
            text-align: center;
        }
    }
    .image-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
        &.disabled {
            opacity: 0.5;
            pointer-events: none;
        }
        .zoom-setting {
            display: flex;
            align-items: center;
            gap: 12px;
            max-width: 200px;

            input[type='range'] {
                background-color: $brand-color;
                border-radius: 8px;
                height: 7px;
                width: 356px;
                -webkit-appearance: none;
                cursor: pointer;

                &::-webkit-slider-thumb {
                    width: 16px;
                    -webkit-appearance: none;
                    height: 16px;
                    background: $brand-color;
                    border-radius: 100%;
                }
            }
        }

        .rotate-setting {
            display: flex;
            gap: 12px;
            #rotate-left {
                background-image: url('/icons/rotate-left.png');
            }
            #rotate-right {
                background-image: url('/icons/rotate-right.png');
            }
            #rotate-left,
            #rotate-right {
                cursor: pointer;
                height: 16px;
                width: 16px;
                background-size: cover;
                background-color: transparent;
                border: none;
                transition:
                    opacity 0.3s,
                    scale 0.3s;

                &:active {
                    scale: 0.9;
                }
                &:hover {
                    opacity: 0.6;
                }
            }
        }

        #delete-image {
            font-size: 20px;
            width: max-content;
            padding: 0;
            border: none;
            cursor: pointer;
            position: relative;
            background-color: transparent;
            right: 4px;
            color: $grey-200;
            transition: color 0.3s scale 0.3s;
            &:hover {
                color: $grey-500;
            }
            &:active {
                scale: 0.9;
            }
        }
    }

    @media (max-width: $md-breakpoint) {
        .image-wrapper {
            width: auto !important;
        }
        .testtt {
            display: block;
            margin: auto;
        }
    }
}
