@import '../../variables.scss';

.side-menu {
    background-color: $brand-color;
    color: white;
    padding: 40px 0;
    height: 100%;
    width: $side-menu-w;
    height: calc(100vh - 40px * 2);
    position: fixed;

    .list {
        display: flex;
        flex-direction: column;
        gap: 20px;

        a {
            font-size: 24px;
            color: white;
            width: max-content;
            margin: auto;
            display: block;
        }
    }

    @media (max-width: $sm-breakpoint) {
        display: none;
    }
}
