@import '../../variables.scss';

.nav-bar {
    background-color: white;
    padding: 0 20px;
    height: $nav-bar-h;
    width: calc(100% - 20px * 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
        display: flex;
        gap: 20px;

        p {
            margin: 0;
            &.path {
                color: $grey-200;
            }
            .current {
                color: $grey-500;
            }
        }
    }
    .right {
        display: flex;
        gap: 20px;

        .alert {
            color: $brand-color;
            font-size: 20px;
        }
    }
}
