$brand-color: rgb(255, 88, 38);
$grey-100: rgb(231, 231, 231);
$grey-200: rgb(177, 177, 177);
$grey-500: rgb(54, 54, 54);

// SIDE MENU
$side-menu-w: 50px;

// NAV BAR
$nav-bar-h: 48px;

// FOOTER
$footer-h: 48px;

// BREAKPOINT
$sm-breakpoint: 480px;
$md-breakpoint: 768px;
$lg-breakpoint: 900px;
