@import '../../../variables.scss';

.plan-list {
    background-color: white;
    width: 200px;
    min-width: 140px;
    padding: 20px 0;
    overflow: scroll;

    a {
        text-decoration: none;
    }

    .item {
        cursor: pointer;
        padding: 16px 20px;
        border-right: solid 3px transparent;
        &.active {
            border-color: $brand-color;
        }

        .new-plan,
        .plan {
            color: $grey-200;
            height: 90px;
            background-position: center;
            background-size: cover;
            border-radius: 8px;
            display: flex;
            align-items: center;
            transition:
                color 0.3s,
                scale 0.3s;

            i {
                font-size: 30px;
                margin: auto;
                display: block;
                width: max-content;
            }
            &:hover {
                color: $brand-color;
            }
            &:active {
                scale: 0.95;
            }
        }

        .new-plan {
            border: dashed 2px;
        }
        .plan {
            border: solid 2px;
        }
    }

    @media (max-width: $md-breakpoint) {
        width: 100%;
        height: auto;
        padding: 0;
        display: flex;

        .item {
            border-right: none;
            border-bottom: solid 3px transparent;
            padding: 8px 8;
            &.active {
                border-color: $brand-color;
            }
            .new-plan,
            .plan {
                height: 70px;
                width: 120px;
            }
        }
    }
}
